<!--The content below is only a placeholder and can be replaced.-->
<div style="width: 500px">

  <p>Value2 - LocalStorage</p>
  <app-cr-select [type]="type2"   (onPick)="option1Choose($event)" [entity]="entity2" ></app-cr-select>
  <p>Value3 - Array</p>
  <app-cr-select [type]="type3"   (onPick)="option2Choose($event)"  [entity]="entity3" ></app-cr-select>
  <p>Value1 - API</p>
  <app-cr-select [type]="type1"   (onPick)="option3Choose($event)"  [entity]="entity1" ></app-cr-select>


  <table style="width:50%;border: 1px solid;margin-top: 25px">
    <tr>
      <td style="border: 1px solid;width:50%">
        <p>Value 1</p>
      </td>
      <td style="border: 1px solid;width:50%">
        {{answer1}}
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid;width:50%">
        <p>Value 2</p>
      </td>
      <td style="border: 1px solid;width:50%">
        {{answer2}}
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid;width:50%">
        <p>Value 3</p>
      </td>
      <td style="border: 1px solid;width:50%">
        {{answer3}}
      </td>
    </tr>
  </table>
</div>

